
@model List<LotterySim.Business.NHL.NHLDraftPick>
@{
    ViewBag.Title = "NHL Draft Order";

}

<div align="center">
    <h1 class="mb-3">NHL Draft Order</h1>
</div>


<div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Pick</th>
                <th scope="col">Team</th>
                <th scope="col">Record</th>
                <th scope="col">Points</th>
                <th scope="col">Streak</th>
                <th scope="col">Odds</th>
                
            </tr>
        </thead>
        <tbody>


            @foreach (var pick in Model)
            {
                @Html.Partial("~/Views/NHL/_NHLStandingsData.cshtml", pick);
            }








        </tbody>
    </table>
</div>