@using LotterySim.Business.NFL
@using LotterySim.Business
@model List<LotterySim.Business.NFL.NFLTeam.Entry>
@{
    ViewBag.Title = "NFLStandings";
}

<h2>NFLStandings</h2>

<div class="container">

    <table class="table table-striped table-sm">
        <thead>
            <tr>

                <th scope="col">Pick</th>      
                <th scope="col">Team</th>
                <th scope="col">Record</th>
                <th scope="col">WIN %</th>
                <th scope="col">GB</th>
                <th scope="col">Streak</th>

            </tr>
        </thead>
        <tbody>


            @foreach (var entry in Model.OrderBy(p => GetNFLTeams.GetStatByName(p.stats, "playoffSeed")))
            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }

            </table>
</div>